<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://f.hiphotos.baidu.com/image/pic/item/ac4bd11373f082022707d43e49fbfbedab641b1d.jpg</string>
	<string>http://e.hiphotos.baidu.com/image/pic/item/c995d143ad4bd113cf55ad3c58afa40f4bfb0527.jpg</string>
	<string>http://f.hiphotos.baidu.com/image/pic/item/dc54564e9258d109164262aad358ccbf6c814d01.jpg</string>
	<string>http://b.hiphotos.baidu.com/image/pic/item/562c11dfa9ec8a139a824deef503918fa0ecc020.jpg</string>
	<string>http://b.hiphotos.baidu.com/image/pic/item/a2cc7cd98d1001e93069507fb90e7bec54e7976c.jpg</string>
	<string>http://h.hiphotos.baidu.com/image/pic/item/03087bf40ad162d9bdf6831b13dfa9ec8a13cd99.jpg</string>
	<string>http://c.hiphotos.baidu.com/image/pic/item/2f738bd4b31c8701f3e638eb257f9e2f0708ff6f.jpg</string>
	<string>http://e.hiphotos.baidu.com/image/pic/item/279759ee3d6d55fbb65d6c286f224f4a20a4dd20.jpg</string>
	<string>http://b.hiphotos.baidu.com/image/pic/item/8601a18b87d6277fcf69c4392a381f30e924fcbc.jpg</string>
	<string>http://f.hiphotos.baidu.com/image/pic/item/4034970a304e251f1836f9f2a586c9177e3e53f2.jpg</string>
	<string>http://g.hiphotos.baidu.com/image/pic/item/d009b3de9c82d158b27244bf820a19d8bd3e42cf.jpg</string>
	<string>http://d.hiphotos.baidu.com/image/pic/item/d52a2834349b033b1804d9d917ce36d3d539bd20.jpg</string>
	<string>http://d.hiphotos.baidu.com/image/pic/item/7dd98d1001e939019a56073379ec54e736d19663.jpg</string>
	<string>http://d.hiphotos.baidu.com/image/pic/item/a2cc7cd98d1001e9aa28c703ba0e7bec54e797a2.jpg</string>
	<string>http://e.hiphotos.baidu.com/image/pic/item/d000baa1cd11728b4321792fcafcc3cec3fd2caa.jpg</string>
	<string>http://e.hiphotos.baidu.com/image/pic/item/8d5494eef01f3a29f9d720c39b25bc315c607ca4.jpg</string>
	<string>http://a.hiphotos.baidu.com/image/pic/item/2fdda3cc7cd98d10b9c1f93c233fb80e7bec90a2.jpg</string>
	<string>http://c.hiphotos.baidu.com/image/pic/item/00e93901213fb80e118e465834d12f2eb83894e5.jpg</string>
	<string>http://e.hiphotos.baidu.com/image/pic/item/a6efce1b9d16fdfa2339f2e0b68f8c5494ee7b62.jpg</string>
	<string>http://e.hiphotos.baidu.com/image/pic/item/7e3e6709c93d70cf6f24f60cfadcd100bba12bd0.jpg</string>
	<string>http://a.hiphotos.baidu.com/image/pic/item/35a85edf8db1cb1371826c11df54564e93584bcc.jpg</string>
	<string>http://h.hiphotos.baidu.com/image/pic/item/8c1001e93901213f5779f7d656e736d12f2e9576.jpg</string>
	<string>http://f.hiphotos.baidu.com/image/pic/item/9825bc315c6034a8c305709cc9134954082376cc.jpg</string>
	<string>http://e.hiphotos.baidu.com/image/pic/item/cefc1e178a82b9014ecc0b2e718da9773912ef4e.jpg</string>
	<string>http://h.hiphotos.baidu.com/image/pic/item/0ff41bd5ad6eddc486067ff63bdbb6fd536633de.jpg</string>
	<string>http://b.hiphotos.baidu.com/image/pic/item/caef76094b36acaf3fa5c0fd7ed98d1001e99c6d.jpg</string>
	<string>http://a.hiphotos.baidu.com/image/pic/item/9345d688d43f87944c729b22d01b0ef41bd53a29.jpg</string>
	<string>http://c.hiphotos.baidu.com/image/pic/item/0df431adcbef76095951cc9d2cdda3cc7cd99e5d.jpg</string>
	<string>http://h.hiphotos.baidu.com/image/pic/item/5366d0160924ab182842ca3937fae6cd7b890b63.jpg</string>
	<string>http://b.hiphotos.baidu.com/image/pic/item/8ad4b31c8701a18b7ed83e4c9c2f07082838fe86.jpg</string>
	<string>http://d.hiphotos.baidu.com/image/pic/item/1f178a82b9014a90b571ccb0ab773912b31bee74.jpg</string>
	<string>http://h.hiphotos.baidu.com/image/pic/item/5fdf8db1cb134954fe727a6a544e9258d1094a54.jpg</string>
	<string>http://d.hiphotos.baidu.com/image/pic/item/a50f4bfbfbedab6428c0bfc1f536afc379311e04.jpg</string>
</array>
</plist>
